<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Weird Animals!</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Weird Animals</h1>
      <h3>Cute, Friendly, Unexpected, Dangerous, Mysterious</h3>
      <h2>Fantastic!</h2>
      <form class="form-inline" id="newAnimalForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" placeholder="animal name">
        </div>
        <div class="form-group">
          <label for="name">Image</label>
          <input type="text" class="form-control" name="image" placeholder="image url">
        </div>

        <div class="form-group">
          <label for="name">Location</label>
          <input type="text" class="form-control" name="location" placeholder="ocean">
        </div>
        <div class="form-group">
          <label for="name">discoveredBy</label>
          <input type="text" class="form-control" name="discoveredBy" placeholder="me!">
        </div>
        <div class="form-group">
          <label for="name">discoveryDate</label>
          <input type="text" class="form-control" name="discoveryDate" placeholder="today!">
        </div>
        <button type="submit" class="btn btn-default">Create Animal</button>
      </form>
      <h4><a href="/api">Read My API Documentation</a>
      <a href="/api/profile">About the creator</a></h4>
    </div>
  </body>
</html>
